
.heading__title {
    color: rgb(175, 231, 175);
    font-weight: $font-weight-600;
    margin-bottom: 40px;
    font-size: $font-40px;
    line-height: 56px;
    
   
}
.footer {
    background-color:$color-button-color;
    padding-top: 56px;
    padding-bottom: 64px;
 

}


.footer__contact li{
 
  

      display: flex;
      a {
      margin-left: 24px;
      margin-bottom: 32px;
      text-decoration: none;
      font-weight: 500;
      line-height: 24px;
      color: $color-white;
     
    
       

    &:hover {
        color: rgb(175, 231, 175)
    }
    
}  
} 
.icons{
   
color:rgb(175, 231, 175);






}

.footer__nav li { 
    list-style: none;

   
    
    a{
        text-decoration: none;
        color: white ;
        @include respons(phone){
            margin-left: -53px;
        }
        &:hover {
            color: rgb(175, 231, 175)
        }
    }
   
    line-height: 56px;
    font-weight: $font-weight-600;
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid rgba(255,255,255,0.2);
    .social-icons_link{
      
        text-decoration: none;
        padding-left: 40px;
        &:hover{
            color: $color-hover;
            
        }
    }
 
   
}

.icon-lg {
    @include respons(phone){
        display: block;
        margin-left: 30px;
    }
}

.footer-bottom a{
    @include respons(phone){
        display: block;
        margin-left: 30px;
    }
}