.hesabim{
    width: 100%;
    height: 650px;
    background-color: $color-primary;
    display: flex;
    border-radius: $border-radius-10px;

    &__left{
        width: 497px;
        height: 92%;
        background-image: url(https://velocity.az/front/img/vector/Vector-lighten.svg);
        background-color:$color-hover !important ;
        margin-left: 25px;
        margin-top: 25px;
        border-radius: $border-radius-10px;
        &__h2{
            color: $color-button-color;
            font-size: $font-40px;
            font-weight:$font-weight-700;
            margin-top: 170px;
            margin-left: 70px;
        }
        &__button{
            @include button-big;
            border:2px solid $color-button-color;
            color: $color-button-color;
            width: 320px;
            margin-left: 70px;
            margin-top: 50px;
            font-weight: $font-weight-500;
        }
    }
    &__rigth{
        width: 540px;
        height: 92%;
        margin-left: 25px;
        margin-top: 25px;
        border-radius: $border-radius-10px;
        &__h2{
            color: $color-hover;
            font-size: $font-40px;
            font-weight: 700;
            text-align: center;
            margin-top: 30px;
        }
        &__p{
            font-size: $font-16px;
            line-height: 28px;
            color: $color-text-1;
            text-align: center;
        }
        &__input{
            width: 24px;
            height: 24px;
            margin-left: 70px;
            background-color: transparent;


        }
        &__button{
            width: 404px;
            height: 50px;
            background-color: $color-hover;
            margin-left: 76px;
            margin-top: 40px;
            border-radius: $border-radius-10px;
            text-align: center;
            padding-top: 12px;
            font-size: $font-17px;
            cursor: pointer;
            &:hover{
                background-color: $color-button-hover;
                transition: .7s;
            }
        }
        &__icon{
            width: 404px;
            height: 50px;
            margin-top: 30px;
            margin-left: 76px;
            &:hover{
                span{
                    color: $color-white;
                    transition: .8s;
                }
            }

            


        }


    }
}

.wrapper{
    width: 510px;
    padding: 50px;
    border-radius: $border-radius-10px;
    margin-left: 20px;
}

.wrapper .input-data{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: $color-body;
    border-radius: $border-radius-10px;



}

.wrapper .input-data input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: $font-17px;
    border-radius: $border-radius-10px;
    outline: none;
    background-color: $color-body;
    padding-left: 10px;
    color: $color-white;


}


.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform:translateY(-20px);
    font-size: $font-15px;
}
.wrapper .input-data label{
    position: absolute;
    left: 0;
    bottom: 17px;
    color: $color-text-1;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: $font-20px;
    padding-left: 10px;
}


.form-check {
        display: flex;
        align-items: flex-end;
        height: 24px;
        margin-left: 75px;

       
    }
.form-check .form-check-input {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        border: 2px solid rgba(255,255,255,0.2);
        background-color: transparent;
        position: relative;
        outline: none;

    }
   
     .form-check .form-check-input:checked[type=checkbox] {
        background-color: black !important;
        color: $color-button-color;
        

    }
    .form-check-label{
        color: $color-white;
        margin-left: 10px;
        font-size: $font-20px;
    }

   

    .forgot {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-hover;
        font-size: $font-18px;
    }