.qeydiyyat{
    width: 100%;
    height: 832px;
    background-color: $color-primary;
    margin-top: 20px;
    display: flex;
    padding: 24px;

    border-radius: 8px;
    margin-bottom: 88px;

    &__left{
        width: calc(100%-328px);
        height: 634px;
        padding: 24px 48px 40px 24px;

     
        &__basliq{
            width: 722px;
            height: 92px;
            text-align: center;
            margin-bottom: 48px;

            &__h2{
                font-weight: 700;
                font-family: $text-font;
                font-size: 40px;
                margin-bottom: 8px;
                line-height: 56px;
                color: $color-hover;
                margin: 0 0 8px;
            }
            &__p{
                font-size: 16px;
                line-height: 28px;
                font-family: $text-font;
                color: silver;
            }
        }

        &__button{
            width: 43%;
            height: 58px;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            border: 1px solid rgba(255,255,255,0.2);
            margin: 0 auto;
            cursor: pointer;



            &-1{
                width: 156px;
                height: 56px;
                border-radius: 8px;
                color: $color-white;
                text-align: center;
                padding-top: 15px;
                line-height: 24px;
                font-weight: 500;
                background-color: $color-body;
                

            }
            &-2{
                width: 156px;
                height: 56px;
                border-radius: 8px;
                color: $color-white;
                text-align: center;
                padding-top: 15px;
                line-height: 24px;
                font-weight: 500;





            }
        }
        &__input{
            width: 100%;
            height: 60px;
            margin-top: 56px;
            display: flex;
            justify-content: space-between;
            &-left{

                width: 349px;
                height: 56px;
                border-radius: 8px;
                border: 1px solid #22252C;
                font-family: $text-font;
                
            
            }
            &-rigth{
                width: 349px;
                height: 56px;
                border-radius: 8px;
                border: 1px solid #22252C;
                font-family: $text-font;




                
            }
        }
    }
    &__rigth{
        width: 328px;
        height: 770px;
        padding: 0 48px;
        background-image: url(https://velocity.az/front/img/vector/Vector-lighten.svg);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C9FFC7 !important;
        background-repeat: no-repeat;
        flex-direction: column;

        &__h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 56px;
            margin-bottom: 24px;
            color: #181C1F;
            font-family: $text-font;
        }
        &__a{
            padding: 14px 0;
            border: 2px solid #181C1F;
            border-radius: 8px;
            width: 100% !important;
            font-weight: 500;
            font-family: $text-font;
            text-decoration: none;
            color: #181C1F;
            text-align: center;
        }
        


    }
}



.input-data{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $color-body;
    border-radius: 8px;



}

 .input-data input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    background-color: $color-body;
    padding-left: 10px;
    color: $color-white;


}


 input:focus ~ label,
 input:valid ~ label{
    transform:translateY(-8px);
    font-size: 15px;
}
.input-data label{
    position: absolute;
    left: 0;
    bottom: 17px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 20px;
    padding-left: 10px;
}

._button{
    width: 449px;
    height: 56px;
    background-color: $color-hover;
    margin-top: 30px;
    border-radius: 8px;
    margin:  auto;
    text-align: center;
    font-family: $text-font;
    padding-top: 15px;
    cursor: pointer;
    &:hover{
        background-color: rgba(201,255,199,0.8);
        transition: .5s;
    }
}

